
{% extends "layout.html.twig" %}
{% block contenu %}
<body id="bg">
<div class="row-fluid">

    <div id="content">
        <div class="col-md-4 col-lg-4 col-md-4" id="loginBox">
        </div>
        <div class="col-md-4 col-lg-4 col-md-4" id="loginBox">
            <div id="News2" >
                <form class="form-horizontal" action="{{ path('user.validFormlogin') }}" method="post">
                    <fieldset>

                        <div class="input-prepend " title="Username">
                           <input class="span12" name="login" id="username" type="text" placeholder="Nom de compte :"/>
                        </div>
                        <div class="clearfix"></div>

                        <div class="input-prepend" title="Password">
                             <input class="span12" name="password" id="password" type="password" placeholder="Mot de Passe"/>

                        </div>

                        <div class="button-login">
                            <button type="submit" class="span12 btn btn-primary ">Entrer</button>
                        </div>
                        <div class="input-prepend" title="Password">


                        </div>

                        <div class="clearfix"></div>
                        </fieldset>
                </form>
                <form action="{{ path('user.choice') }}">
                    <button type="submit" class="span12 btn btn-primary"> Créer un compte </button>
                </form>
            </div>
        </div>



    </div><!--/.fluid-container-->
</div>
</body>
{% endblock %}
