{% extends "layout.html.twig" %}
{% block contenu %}


<body id="bg">
    <!-- start: Content -->
    <div class="row-fluid">

        <div id="content">
            <div class="col-md-12 col-lg-12 col-md-12">
                <div id="News2" >
                    <div id="banner">
                        <div class="col-md-1">
                        <img src="{{ asset('img/logo.png') }}" style="width:90px;height:90px;">
                        </div><div class="col-md-11"><div id="letter2"> Bienvenue sur StudLion</div></div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-lg-8 col-md-8">
                <div id="News" >
                    Le Dernier Emploi posté : {{ emploi.description_emploi }}

                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-md-4">
                <div id="News" >
                    Le Dernier Objet posté : {{ objet.description_objet }}

                </div>
            </div>

            <div class="col-md-12 col-lg-12 col-md-12">
                <div id="News" >
                    Le Dernier Evenement posté : {{ event.description_evenement }}


                </div>
            </div>


            {#<div class="row-fluid">#}

            {#<div onclick="location.href='index.html.twig';" class="span3 statbox purple" onTablet="span3" onDesktop="span3">#}
                {#<div class="title">ELEVE</div>#}


            {#</div>#}


            {#<div onclick="location.href='index.html.twig';" class="span3 statbox purple" onTablet="span3" onDesktop="span3">#}

                {#<div class="title">ANNONCES</div>#}

            {#</div>#}
            {#<div onclick="location.href='index.html.twig';" class="span3 statbox purple" onTablet="span3" onDesktop="span3">#}

                {#<div class="title">PROFESSEUR</div>#}

            {#</div>#}
            {#<div onclick="location.href='index.html.twig';" class="span3 statbox purple" onTablet="span3" onDesktop="span3">#}

                {#<div class="title">AUTRE</div>#}

            {#</div>#}

        {#</div>#}






        {#<div class="row-fluid">#}

            {#<div class="box black span4" onTablet="span6" onDesktop="span4">#}
                {#<div class="box-header">#}
                    {#<h2><i class="halflings-icon white list"></i><span class="break"></span>Weekly Stat</h2>#}
                    {#<div class="box-icon">#}
                        {#<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>#}
                        {#<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="box-content">#}
                    {#<ul class="dashboard-list metro">#}
                        {#<li>#}
                            {#<a href="#">#}
                                {#<i class="icon-arrow-up green"></i>#}
                                {#<strong>92</strong>#}
                                {#New Comments#}
                            {#</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#">#}
                                {#<i class="icon-arrow-down red"></i>#}
                                {#<strong>15</strong>#}
                                {#New Registrations#}
                            {#</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#">#}
                                {#<i class="icon-minus blue"></i>#}
                                {#<strong>36</strong>#}
                                {#New Articles#}
                            {#</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#">#}
                                {#<i class="icon-comment yellow"></i>#}
                                {#<strong>45</strong>#}
                                {#User reviews#}
                            {#</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#">#}
                                {#<i class="icon-arrow-up green"></i>#}
                                {#<strong>112</strong>#}
                                {#New Comments#}
                            {#</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#">#}
                                {#<i class="icon-arrow-down red"></i>#}
                                {#<strong>31</strong>#}
                                {#New Registrations#}
                            {#</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#">#}
                                {#<i class="icon-minus blue"></i>#}
                                {#<strong>93</strong>#}
                                {#New Articles#}
                            {#</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#">#}
                                {#<i class="icon-comment yellow"></i>#}
                                {#<strong>256</strong>#}
                                {#User reviews#}
                            {#</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</div>#}
            {#</div><!--/span-->#}

            {#<div class="box black span4" onTablet="span6" onDesktop="span4">#}
                {#<div class="box-header">#}
                    {#<h2><i class="halflings-icon white user"></i><span class="break"></span>Last Users</h2>#}
                    {#<div class="box-icon">#}
                        {#<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>#}
                        {#<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="box-content">#}
                    {#<ul class="dashboard-list metro">#}
                        {#<li class="green">#}
                            {#<a href="#">#}
                                {#<img class="avatar" alt="Dennis Ji" src="img/logo.png">#}
                            {#</a>#}
                            {#<strong>Nom :</strong> Eleve 1<br>#}
                            {#<strong>Depuis:</strong> Jui 25, 2012 11:09<br>#}
                            {#<strong>Statut:</strong> Approuvé#}
                        {#</li>#}
                        {#<li class="yellow">#}
                            {#<a href="#">#}
                                {#<img class="avatar" alt="Dennis Ji" src="img/logo.png">#}
                            {#</a>#}
                            {#<strong>Nom :</strong> Eleve 2<br>#}
                            {#<strong>Depuis:</strong> Jui 25, 2012 11:09<br>#}
                            {#<strong>Statut:</strong> Approuvé#}
                        {#</li>#}
                        {#<li class="red">#}
                            {#<a href="#">#}
                                {#<img class="avatar" alt="Dennis Ji" src="img/logo.png">#}
                            {#</a>#}
                            {#<strong>Nom :</strong> Eleve 2<br>#}
                            {#<strong>Depuis:</strong> Jui 25, 2012 11:09<br>#}
                            {#<strong>Statut:</strong> Approuvé#}
                        {#</li>#}
                        {#<li class="blue">#}
                            {#<a href="#">#}
                                {#<img class="avatar" alt="Dennis Ji" src="img/logo.png">#}
                            {#</a>#}
                            {#<strong>Nom :</strong> Eleve 2<br>#}
                            {#<strong>Depuis:</strong> Jui 25, 2012 11:09<br>#}
                            {#<strong>Statut:</strong> Approuvé#}
                        {#</li>#}
                    {#</ul>#}
                {#</div>#}
            {#</div><!--/span-->#}

        </div>

    </div>


</div>


</body>

{% endblock %}

