{% extends "layout.html.twig" %}
{% block contenu %}
<body id="bg">
<!-- start: Content -->

<div class="row-fluid">

    <div id="content">

            <div class="row-fluid">
                <fieldset>
                    <div class="form-group">

                        {% for user in user if user is not empty %}

                        <div id="bloc" class="col-md-4">

                                <div class="col-md-12">

                                <label>Nom :
                                    {{ user.nom_user }}

                                </label>

                                </div>

                            <div class="col-md-12">

                                <label>Prénom :
                                    {{ user.prenom_user }}

                                </label>

                            </div>
                            <div class="col-md-12">

                                <label>E_mail :
                                    {{ user.e_mail }}

                                </label>

                            </div>
                            </div>
                    </div>
                            {% endfor %}
                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}